* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  display: flex;
  width: 100vw;
  background-color: #dcccbc;
}
.showmenu {
  display: none;
}

header {
  height: 100vh;
  width: 45%;
  background-color: white;
  box-shadow: 3px 3px 5px 0px #ccc;
  z-index: 5;
  position: relative;

  div {
    overflow: hidden;
    border-radius: 50%;
    .showmenu {
      display: none;
    }

    img {
      display: none;
    }

    svg.mysvg {
      position: absolute;
      border-radius: 50%;
      right: -30px;
      top: 25px;
      box-shadow: 3px 3px 5px 0px #ccc;
    }
    svg.mysvg:hover {
      transform: scale(1.2);
    }
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 960px;
    h2 {
      padding: 40px;
    }
    ul.menu {
      list-style-type: none;

      li {
        padding: 0.5rem;
        a {
          text-decoration: none;
          color: black;
        }
        a:hover {
          color: rgb(110, 49, 49);
          box-shadow: 0 1.5px;
          padding-bottom: 5px;
        }
        .showmenu {
          display: none;
        }
      }
    }
  }
}

main {
  section.img {
    background-image: url(../pic/KfUmCKk.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 60vh;
    z-index: 0;

    position: relative;
    div.filter {
      background-color: rgba(0, 0, 0, 0.2);
      width: 100%;
      height: 60vh;
      position: absolute;
      z-index: 1;
    }

    h3 {
      color: white;
      font-size: 3rem;
      position: absolute;
      bottom: 60px;
      right: 20px;
      z-index: 2;
    }
    h5 {
      color: white;
      font-size: 1rem;
      position: absolute;
      bottom: 30px;
      right: 20px;
      z-index: 2;
    }
  }
  section.second {
    display: flex;
    flex-wrap: wrap;
    vertical-align: text-top;
    background-color: #dcccbc;
    max-width: 100%;

    section.cards {
      display: flex;
      flex-wrap: wrap;
      flex: 1 1 300px;
      width: 80%;
      height: 80%;

      div.card {
        display: flex;

        flex: 1 1 300px;
        justify-content: space-around;
        vertical-align: text-top;
        padding: 5rem;
        position: relative;

        img.mypic {
          width: 1.75vw;
          height: 1.75vh;
          position: absolute;
          left: 100px;
          bottom: 101px;
        }
        h2 {
          font-size: 2rem;
          margin-right: 1rem;
          display: inline;
        }
        h5 {
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  body {
    display: inline-block;
  }
  header {
    display: flex;
    width: 100%;
    height: 15vh;
    box-shadow: none;

    svg.mysvg {
      position: static;
      margin-right: 50px;
    }
    nav {
      width: 100%;
      h2 {
      }
      ul {
        li {
          a {
          }
        }
      }
    }
  }

  main {
    section.img {
      display: flex;
      width: 100%;
      div.filter {
        z-index: -5;
      }
      h3 {
        align-items: center;
        text-align: center;
        padding: 1rem;
        top: 100px;
        // margin: 30px 0;
      }
      h5 {
        align-items: center;
        text-align: center;
        padding: 1rem;
        margin-bottom: 50px;
      }
    }
    section.second {
      section.cards {
        div.card {
          justify-content: space-evenly;
          img.mypic {
            width: 1.75vw;
            height: 1.75vh;
            position: absolute;
            left: 110px;
            bottom: 85px;
            display: none;
            h2 {
              vertical-align: top;
            }
            h5 {
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .menu {
    /*隱藏選單開始*/
    max-height: 0px;
    overflow: hidden;
    /*隱藏選單結束*/
    transition: max-height 2.3s;
    margin-top: 1px;
    /*絕對定位疊在網頁上*/
    position: absolute;
    z-index: 100;
    /*header 80px+1px boder 線條*/
    top: 100px;
    left: 0;
    right: 0;
    background: #ffffff;
  }
  .menu li {
    float: none;
    // border-bottom: 1px dashed rgb(78, 31, 31);
    list-style-type: none;
  }
  .menu li a {
    transition: 0.1s;
    display: flex;
    justify-content: center;
  }

  .menu li a:hover {
    color: rgb(255, 255, 255);
  }
  .showmenu {
    display: block;
    float: right;
    margin: 1em;
    position: absolute;
    top: 30px;
    left: 0;
  }
  /*jQ點擊後動態在 body 加上 class */
  .menu-show .menu {
    max-height: 500px;
  }
}
